@import 'styles/variables';
@import 'styles/mixins';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;

    .label {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $text-primary-color;
    }

    .select {
        padding: 12px;
        border-radius: 4px;
        outline: none;
        border: $border-alpha;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $text-secondary-color;
        max-width: 300px;
        width: 100%;
        transition: $transition;

        @include mobile {
            max-width: 100%;
        }

    }

    .option {
        background: $text-white-color;
        box-shadow: $box-shadow;
        border-radius: 4px;
        outline: none;
        color: $text-primary-color;
    }
}
