@import 'styles/variables';
@import 'styles/mixins';

.wrapper {
    padding-bottom: 24px;
    border-bottom: $border-alpha;
    margin-bottom: 24px;

    @include mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .networks {
        @include mobile {
            width: 100%;
            justify-content: center;
        }
    }
}
