@import 'styles/variables';
@import 'styles/mixins';

.add {
    border: $border-additional !important;
}

.field {
    display: flex;
    align-items: center;
    gap: 8px;
}

.wrapper {
    max-width: 370px;

    @include mobile {
        position: relative;
        max-width: 100%;
    }

    .field {
        padding-right: 50px;
    }

    .trash {
        @include mobile {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 4;
            max-width: 60px;
        }
    }
}
