@import 'styles/variables';
@import 'styles/mixins';

.field {
    max-width: 100% !important;
    min-height: 88px;
}

.fields {
    margin-bottom: 88px;
    position: relative;
    max-height: 116px;
}

.chars {
    position: absolute;
    bottom: -30px;
    right: 0;
    font-size: 14px;

    &.error {
        color: $text-error-color;
    }
}

.top {
    margin-bottom: 26px;
}
